[submodule "car-prediction"]
	path = car-prediction
	url = https://github.com/abnercasteliano/car-prediction
[submodule "vehicle-price-prediction"]
	path = vehicle-price-prediction
	url = https://github.com/abnercasteliano/vehicle-price-prediction
[submodule "customer-churn"]
	path = customer-churn
	url = https://github.com/abnercasteliano/customer-churn.git
[submodule "Bayesian-A-B-testing"]
	path = Bayesian-A-B-testing
	url = https://github.com/abnercasteliano/Bayesian-A-B-testing
